In [120]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass

In [121]:
password = getpass.getpass()

········

In [122]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [123]:
#Checking all the tables that needs to be fetched to gather data necessary to make the rental predictions : 
    
# tables : 
# film : [film_id(primary key), title,rental_rate,length,rating]
# film_category : [film_id(primary key), category_id(foreign key)]
# category : [category_id(primary key), name]

# film_actors : [actor_id (primary key), film_id (foreign key)]
# actor : [actor_id(primary key), first_name, last_name) (concat first and last name)

# inventory : [film_id, inventory_id](primary key)
# rental  : [inventory_id, rental_date, return_date]

#Creating a temp table to realise second step (focus on 05/2005 data)
         
query = """SELECT 
    f.film_id,f.title,f.length,f.rental_rate,f.rating,
    c.name AS category_name,
    CONCAT(a.first_name, ' ', a.last_name) AS actor_name,
    r.rental_date,r.return_date
FROM
    film AS f
JOIN 
    film_category AS fc 
    ON f.film_id = fc.film_id
JOIN 
    category AS c 
    ON fc.category_id = c.category_id
JOIN 
    film_actor AS fa 
    ON f.film_id = fa.film_id
JOIN 
    actor AS a 
    ON fa.actor_id = a.actor_id
JOIN 
    inventory AS i 
    ON f.film_id = i.film_id
JOIN 
    rental AS r 
    ON i.inventory_id = r.inventory_id
"""


# Fetching the data
film_data = pd.read_sql(query, engine)

# Display the first few rows of the DataFrame
display(film_data.head())

,film_id,title,length,rental_rate,rating,category_name,actor_name,rental_date,return_date
0,19,AMADEUS HOLY,113,0.99,PG,Action,JOHNNY LOLLOBRIGIDA,2005-08-02 01:16:59,2005-08-03 02:41:59
1,19,AMADEUS HOLY,113,0.99,PG,Action,JULIA MCQUEEN,2005-08-02 01:16:59,2005-08-03 02:41:59
2,19,AMADEUS HOLY,113,0.99,PG,Action,VAL BOLGER,2005-08-02 01:16:59,2005-08-03 02:41:59
3,19,AMADEUS HOLY,113,0.99,PG,Action,KIRK JOVOVICH,2005-08-02 01:16:59,2005-08-03 02:41:59
4,19,AMADEUS HOLY,113,0.99,PG,Action,JAMES PITT,2005-08-02 01:16:59,2005-08-03 02:41:59

In [124]:
# A bit of pre-cleaning 

# Convert rental_date to datetime
film_data['rental_date'] = pd.to_datetime(film_data['rental_date'])

# Create the 'rented_in_may' column
film_data['rented_in_may'] = film_data['rental_date'].dt.year.eq(2005) & film_data['rental_date'].dt.month.eq(5)

# Removing duplicate titles
film_data = film_data.drop_duplicates(subset='title', keep='first')

#droping the film_id and title + dates wich will not serve in the reg model
film_data = film_data.drop(columns=['film_id'])
film_data = film_data.drop(columns=['title'])
film_data = film_data.drop(columns=['rental_date'])
film_data = film_data.drop(columns=['return_date'])

# drop the index of the DataFrame wich will not serve in the reg model
#film_data = film_data.reset_index(drop=True)

display(film_data.head())

,length,rental_rate,rating,category_name,actor_name,rented_in_may
0,113,0.99,PG,Action,JOHNNY LOLLOBRIGIDA,False
126,129,4.99,R,Action,KEVIN BLOOM,True
236,168,2.99,NC-17,Action,BETTE NICHOLSON,True
306,129,2.99,G,Action,JENNIFER DAVIS,False
450,77,2.99,PG-13,Action,GRACE MOSTEL,False

In [125]:
#Around 1000 rows available on 6 columns, finally keeping the index to re-connect with titel at the end of prediction
film_data.shape

(955, 6)

In [126]:
#Checking for NaNs and weird values in the database
#print(film_data.isna().sum())
#print(film_data['rating'].unique())
#print(film_data['category_name'].unique())

#film_data['rented_in_may'].value_counts()
#film_data.dtypes
film_data.isna().sum()

length           0
rental_rate      0
rating           0
category_name    0
actor_name       0
rented_in_may    0
dtype: int64

In [139]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder


# Identify categorical and numerical columns
categorical_cols = ['rating', 'category_name', 'actor_name']
numerical_cols = ['length', 'rental_rate'] 

# Target column designation
target_col = 'rented_in_may' 

# Set X & Y
X = film_data.drop(target_col, axis=1)
y = film_data[target_col]

In [140]:
#ralize Split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [141]:
# set scalers
numerical_transformer = MinMaxScaler()
categorical_transformer = OneHotEncoder(handle_unknown='ignore', sparse=False)

# MinMaxScaler
X_train_num = numerical_transformer.fit_transform(X_train[numerical_cols])
X_test_num = numerical_transformer.transform(X_test[numerical_cols])

# OneHotEncoder
X_train_cat = categorical_transformer.fit_transform(X_train[categorical_cols])
X_test_cat = categorical_transformer.transform(X_test[categorical_cols])

# Convert numpy arrays back to DataFrames
X_train_num = pd.DataFrame(X_train_num, columns=numerical_cols, index=X_train.index)
X_test_num = pd.DataFrame(X_test_num, columns=numerical_cols, index=X_test.index)
X_train_cat = pd.DataFrame(X_train_cat, columns=categorical_transformer.get_feature_names_out(), index=X_train.index)
X_test_cat = pd.DataFrame(X_test_cat, columns=categorical_transformer.get_feature_names_out(), index=X_test.index)

# Combine numerical and categorical data
X_train_preprocessed = pd.concat([X_train_num, X_train_cat], axis=1)
X_test_preprocessed = pd.concat([X_test_num, X_test_cat], axis=1)

C:\Users\antho\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [142]:
# Initialize and train the Logistic Regression model
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train_preprocessed, y_train)

LogisticRegression(max_iter=1000)

In [143]:
# Make predictions
y_pred = log_reg.predict(X_test_preprocessed)

# Evaluate the model
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.81      0.98      0.89       154
        True       0.40      0.05      0.10        37

    accuracy                           0.80       191
   macro avg       0.61      0.52      0.49       191
weighted avg       0.73      0.80      0.73       191

[[151   3]
 [ 35   2]]

In [144]:
#Comments 

#Seems that the model does not perform very well to identify True class 0.40 but seems to perform better with False (not rented) with 0.80 
#the strong accuracy seems to be misleading as there is more False than True in the dataset (Imbalanced data)
#class imbalance needs to be adressed to correct the model